## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## User-specific files
*.rsuser
*.userprefs

## IDE
.idea/
*.swp
*~

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Secrets
appsettings.Development.json
secrets.json
